body
    margin: 0

main
    width: 90%
    padding: 2em 5% 2em
    margin-top: 4.5rem
    margin-bottom: 14rem
    background: rgb(255, 255, 248)
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1)


.layout-container
    width: 90%
    margin: 0 auto

.site-footer
    padding: 60px 0
