


.heading__anchor-link
    opacity: 0
    display: inline-block
    font-size: .5em
    margin-left: 1em
    vertical-align: middle
    transition: opacity .2s, transform .2s
    transform: translateY(100%)
    position: absolute
    top: 0.5em

    &:focus
        opacity: 1
        transform: translateY(0)


.post-content h2:hover,
.post-content h3:hover

    .heading__anchor-link
        opacity: 1
        transform: translateY(0)

.post-content
    h2,
    h3
        position: relative
        padding-right: 0.5em
        margin-right: -0.5em

    img
        max-width: 100%
        height: auto
        display: block
        box-shadow: -2px 1px 10px rgba($black, .1)

    // captions
    img + em
        margin-top: .25em
        font-size: .85rem
        color: rgba($black, .8)
//
//
//     a
//         // @extend %defaultLink
//
//     ol li,
//     ul li
//         margin-bottom: .25em
//         line-height: 1.75
//
//
//
//     ol
//         margin-bottom: 1.5em
//
//
.post-canonical
    font-style: italic

    &::before
        content: '. . .'
        display: block
        margin: 1em 0 2em
        text-align: center


.article-body > :first-child,
.lede
    font-size: 1.3em



.post
    figure,
    img
        max-width: 100%
        height: auto
        margin: 0

    figure
        margin: 2em 0 1em
        padding-bottom: 1em

        a
            background: none

        img
            margin-bottom: .5em

    .wp-caption-text
        font-size: .8em
        margin-left: 1em


    blockquote
        margin: 1em 0 1em 2em
        background-color: #eeeeee
        padding: 1em 2em
        border-left: 10px solid $brand-primary


.responsive-iframe
    position: relative
    overflow: hidden
    padding-top: 56.25%

    iframe
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        border: 0
