.post
    margin: 0
    max-width: 37.5rem


.post-title
    font-size: 3em

.heading__anchor-link
    opacity: 0
    display: inline-block
    font-size: .5em
    margin-left: 1em
    vertical-align: middle
    transition: opacity .2s, transform .2s
    transform: translateY(100%)

.post-content h2:hover,
.post-content h3:hover

    .heading__anchor-link
        opacity: 1
        transform: translateY(0)

.post-content
    p
        font-size: 1rem

    img
        max-width: 100%
        height: auto
        display: block
        box-shadow: -2px 1px 10px rgba($black, .1)

    // captions
    img + em
        margin-top: .25em
        font-size: .85rem
        color: rgba($black, .8)


    a
        @extend %defaultLink

    ol li,
    ul li
        margin-bottom: .75em
        line-height: 1.75



    ol
        margin-bottom: 1.5em
