.book
    margin: 1em auto
    position: relative

    @media (min-width: 48em)
        margin: 1em
        margin-top: 5em

        @supports(position: sticky)
            position: sticky
            top: 100px


.book__text
    position: absolute
    bottom: 2em
    right: 1em
    left: 1em


