.site-header
    width: 100%
    top: 0
    left: 0
    padding: 1em 0
    background-color: $white
    position: fixed
    z-index: -1


.brand-logo
    text-decoration: none
    color: $black
    display: inline-block
    font-size: 1.9rem
    +font-display
    font-weight: 900


.header__nav
    display: flex
    align-items: center
    justify-content: space-between


.page-link
    margin: 0 .5em
