.home
    position: absolute
    top: 40%
    transform: translateY(-50%)
    left: 0
    right: 0


h1.opening
    width: 95%
    margin: 1em auto
    font-size: 3em
    line-height: 1
    text-align: center

    +bp(small)
        font-size: 4em

    +bp(medium)
        font-size: 6em


.home-nav
    display: flex
    flex-wrap: wrap
    justify-content: center
    padding: 0
    margin: 0


.home-nav .menu-item
    list-style: none
    text-align: center
    text-transform: lowercase
    font-size: 3em
    font-family: "Raleway", sans-serif
    margin: 0 auto .5em

    flex: 0 0 100%

    +bp(small)
        flex: 1

    a
        color: black



.home-nav__grid
    padding-left: 0
