.mc-signup
    margin: 3em 0

    h2
        margin-top: 0


.callout
    background-color: #eee
    max-width: 40rem
    padding-left: 5%

    border-top: 5px solid $green
    border-bottom: 5px solid $green
    padding-top: 3em
    padding-bottom: 3.5em

    transform: rotate(-1deg) translateX(-1em) translateY(.5em)

    @media (min-width: 70rem)
        padding-left: calc((100% - 55rem) / 2)


.callout--book
    .callout__cta
        margin: 0 2em

    .callout__book
        margin: -2em auto 0
        display: block
        width: 100%

        @media (min-width: 600px)
            width: 250px
            float: left

        @media (min-width:35em)
            width: 300px

    form
        margin: 0 2em



.mc-signup__form-group
    @media (min-width: 35em)
        display: flex
        align-items: flex-end
        flex-wrap: wrap

    label
        display: block
        font-size: .75em
        margin-bottom: .5em
        color: #222

    input
        padding: .5em .25em
        margin-right: .5em
        border: 1px solid #ccc
        background: #fff
        font-size: 1em
        margin-bottom: 1em

        &:focus
            outline: 2px solid $brand-primary

    // input[type="email"]
    //     min-width: 250px


    input[type="submit"]
        background: $brand-primary
        color: #fff
        border: 1px solid $brand-primary
        font-size: 1em
        text-transform: uppercase
        padding: .5em 1em
        font-weight: bold
        cursor: pointer

        transition: 300ms background, 300ms color, 300ms border-color

        &:hover,
        &:focus
            background: $green
            color: #fff
            border-color: $green


.mc-field-group
    margin-bottom: 1em
    @media (min-width: 35em)
        margin-bottom: 0
