<header class="site-header">
    <div class="site-header__wrap l-contain l-contain--center">
        <div class="site-id vcard" role="banner">
            <a class="site-id__link url fn" href="{{site.url}}" rel="home">
                <div class="site-id__logo">
                    <img class="logo" src="/assets/img/ben.jpg" alt="Ben Robertson" />
                </div>
                <div class="site-id__name">
                    <span class="site-id__name-part">Ben</span>
                    <span class="site-id__name-part">Robertson</span>
                </div>
            </a>
        </div>

        <nav id="nav-main" class="nav-main" role="navigation">
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/feed.xml">RSS</a></li>
                <li><a href="/blogroll">Blogroll</a></li>
                <li><a href="/accessibility-for-web-developers">Book</a></li>
            </ul>
        </nav>
        <!-- #nav -->
    </div>
</header>