<header class="site-header" role="banner">
    <div class="layout-container header__nav">
        <a href="/" class="brand-logo no-decoration" rel="author">Ben Robertson</a>

        <nav>
            <a class="page-link no-decoration" href="/about">about</a>
            <a class="page-link no-decoration" href="/blog">blog</a>
            <!-- <div class="trigger">
                {% for my_page in site.pages %} {% if my_page.title %}
                <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a> {% endif %} {% endfor %}
            </div> -->
        </nav>
    </div>
</header>
