/**
 * Syntax highlighting styles
 */

$syntax-hue: 220;
$syntax-saturation: 13%;
$syntax-brightness: 18%;

$editor-gray: rgb(41,44,51);
$hl-green: rgb(160,193,129);
$hl-blue: rgb(111, 171, 229);
$hl-red: rgb(211, 115, 119);

// .highlighter-rouge {
//     background-color: $editor-gray;
//     color: #fff;
//     padding: .5em;
// }



.highlight {
  // background: $editor-gray;
  color: #fff;
  font-size: .85em;
  overflow-x: scroll;
  margin: 0;
  // padding: .5em;
  margin-bottom: 2em;

  // .highlighter-rouge & {
  //   margin: .5em;
  // }

  .c     { color: rgb(93,99,111); font-style: italic } // Comment
  .err   { color: $hl-red; } // Error
  .k     { font-weight: bold } // Keyword
  .o     { font-weight: bold } // Operator
  .cm    { color: #998; font-style: italic } // Comment.Multiline
  .cp    { color: #999; font-weight: bold } // Comment.Preproc
  .c1    { color: #998; font-style: italic } // Comment.Single
  .cs    { color: #999; font-weight: bold; font-style: italic } // Comment.Special
  .gd    { color: #000; background-color: #fdd } // Generic.Deleted
  .gd .x { color: #000; background-color: #faa } // Generic.Deleted.Specific
  .ge    { font-style: italic } // Generic.Emph
  .gr    { color: $hl-red } // Generic.Error
  .gh    { color: #999 } // Generic.Heading
  .gi    { color: #000; background-color: #dfd } // Generic.Inserted
  .gi .x { color: #000; background-color: #afa } // Generic.Inserted.Specific
  .go    { color: #888 } // Generic.Output
  .gp    { color: #555 } // Generic.Prompt
  .gs    { font-weight: bold } // Generic.Strong
  .gu    { color: #aaa } // Generic.Subheading
  .gt    { color: $hl-red } // Generic.Traceback
  .kc    { font-weight: bold } // Keyword.Constant
  .kd    { font-weight: bold } // Keyword.Declaration
  .kp    { font-weight: bold } // Keyword.Pseudo
  .kr    { font-weight: bold } // Keyword.Reserved
  .kt    { color: $hl-blue; font-weight: bold } // Keyword.Type
  .m     { color: #099 } // Literal.Number
  .s     { color: $hl-green } // Literal.String
  .na    { color: $hl-green } // Name.Attribute
  .nb    { color: $hl-blue } // Name.Builtin
  .nc    { color: $hl-blue; font-weight: bold } // Name.Class
  .no    { color: #008080 } // Name.Constant
  .ni    { color: #800080 } // Name.Entity
  .ne    { color: $hl-red; font-weight: bold } // Name.Exception
  .nf    { color: $hl-red; font-weight: bold } // Name.Function
  .nn    { color: #555 } // Name.Namespace
  .nt    { color: $hl-blue } // Name.Tag
  .nv    { color: #008080 } // Name.Variable
  .ow    { font-weight: bold } // Operator.Word
  .w     { color: #bbb } // Text.Whitespace
  .mf    { color: #099 } // Literal.Number.Float
  .mh    { color: #099 } // Literal.Number.Hex
  .mi    { color: #099 } // Literal.Number.Integer
  .mo    { color: #099 } // Literal.Number.Oct
  .sb    { color: $hl-green } // Literal.String.Backtick
  .sc    { color: $hl-green } // Literal.String.Char
  .sd    { color: $hl-green } // Literal.String.Doc
  .s2    { color: $hl-green } // Literal.String.Double
  .se    { color: $hl-green } // Literal.String.Escape
  .sh    { color: $hl-green } // Literal.String.Heredoc
  .si    { color: $hl-green } // Literal.String.Interpol
  .sx    { color: $hl-green } // Literal.String.Other
  .sr    { color: $hl-green } // Literal.String.Regex
  .s1    { color: $hl-green } // Literal.String.Single
  .ss    { color: #990073 } // Literal.String.Symbol
  .bp    { color: #999 } // Name.Builtin.Pseudo
  .vc    { color: #008080 } // Name.Variable.Class
  .vg    { color: #008080 } // Name.Variable.Global
  .vi    { color: #008080 } // Name.Variable.Instance
  .il    { color: #099 } // Literal.Number.Integer.Long
}
