@mixin font-primary
    font-family:  "Libre Baskerville", serif

@mixin font-display
    font-family: 'Raleway', sans-serif


html
    +font-primary
    background-color: $white
    color: $black


h1,
h2,
h3,
h4,
h5,
h6
    +font-display
    font-weight: 800

h1
    font-weight: 900


p
    font-size: 1.1em
    margin-top: 0
    line-height: 1.75
    margin-bottom: 1.5em


.page-title
    font-size: 4em
    text-align: center


// Links: replicate underline that clears descenders
a:link,
a:visited
    color: inherit

@mixin link($color)
    background: -webkit-linear-gradient($white, $white), -webkit-linear-gradient($white, $white), -webkit-linear-gradient($color, $color)
    background: linear-gradient($white, $white), linear-gradient($white, $white), linear-gradient($color, $color)
    -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px
    -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px
    background-size: 0.05em 1px, 0.05em 1px, 1px 1px
    background-repeat: no-repeat, no-repeat, repeat-x
    background-position: 0% 93%, 100% 93%, 0% 93%
    color: $color


a:link
    text-decoration: none
    text-shadow: 0.03em 0 $white, -0.03em 0 $white, 0 0.03em $white, 0 -0.03em $white, 0.06em 0 $white, -0.06em 0 $white, 0.09em 0 $white, -0.09em 0 $white, 0.12em 0 $white, -0.12em 0 $white, 0.15em 0 $white, -0.15em 0 $white
    +link($black)
    &:hover
        background-color: #ffd897
        text-shadow: 0.03em 0 #ffd897, -0.03em 0 #ffd897, 0 0.03em #ffd897, 0 -0.03em #ffd897, 0.06em 0 #ffd897, -0.06em 0 #ffd897, 0.09em 0 #ffd897, -0.09em 0 #ffd897, 0.12em 0 #ffd897, -0.12em 0 #ffd897, 0.15em 0 #ffd897, -0.15em 0 #ffd897

a:link::selection
    text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe
    background: #b4d5fe


a:link::-moz-selection
    text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe
    background: #b4d5fe


.no-decoration,
a:link.no-decoration
    text-decoration: none
    background: 0 !important
    text-shadow: initial


@media screen and (-webkit-min-device-pixel-ratio: 0)
    a:link
        background-position-y: 87%, 87%, 87%



// .post a,
// .region-footer a
//     +link($highlight-blue)
//     color: $highlight-blue
//
//     text-decoration: none
//     transition: color .2s ease-out
//     &:visited
//         +link($highlight-purple)
//         color: $highlight-purple
//
//     &:focus,
//     &:hover,
//     &:active
//         +link($highlight-red)
//         color: $highlight-red
