---
layout: default
---

<h1 class="page-heading">Blog</h1>

{{ content }}

{% for post in site.posts %}
    <article class="home__article">
        <header>
            <h2 class="post-list__title">
              <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
            <date class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</date>
        </header>
        <p>{{post.snippet}}</p>
        <a href="{{ post.url | relative_url }}">Read More</a>
    </article>
{% endfor %}
