---
layout: default
---

<div class="l-contain l-contain--center">
  <div class="hero">
    <div class="hero-text">
      <h1 class="page-heading">{{page.title}}</h1>
      <p>A free web accessibility course for web developers.</p>
      <p><em>30 days, 10 lessons, 100% fun!</em></p>
      <p>Ten lessons spread out over a month focused on frequent but easy to fix accessibility mistakes.</p>
    </div>
    <div class="hero-form">
      <!-- Begin MailChimp Signup Form -->
      <form action="https://benjamingrobertson.us15.list-manage.com/subscribe/post?u=aafc0f8e65dbc564446043b15&amp;id=baaa94d97b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="name-fields">
          <div class="mc-field-group">
            <label for="mce-FNAME">First Name </label>
            <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
          </div>
          <div class="mc-field-group">
            <label for="mce-LNAME">Last Name </label>
            <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
          </div>
        </div>
        <div class="mc-field-group">
          <label for="mce-EMAIL">Email Address </label>
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_aafc0f8e65dbc564446043b15_baaa94d97b" tabindex="-1" value=""></div>
        <input type="submit" value="Start the free course" name="subscribe" id="mc-embedded-subscribe" class="button" ga-on="click" ga-event-category="Accessibility Mistakes Course" ga-event-action="Subscribe" ga-event-label="Course Page">
      </form>
    </div>
  </div>

  <div class="lessons section l-contain--center l-contain--small">
    <h2>Material Covered</h2>

    <div class="lesson">
      <h3>Lesson 1:<br> Missing Titles</h3>
      <p>Every web page needs a unique, informative title.</p>
    </div>

    <div class="lesson">
      <h3>Lesson 2:<br> Poor Heading Structure</h3>
      <p>Learn the how to properly use heading tags to properly mark up your content.</p>
    </div>


    <div class="lesson">
      <h3>Lesson 3:<br> Read More / Click Here Links</h3>
      <p>Every link should have a well-defined purpose that is clear from its link text.</p>
    </div>


    <div class="lesson">
      <h3>Lesson 4:<br> Missing Labels</h3>
      <p>Every form input needs a label.</p>
    </div>

    <div class="lesson">
      <h3>Lesson 5:<br> CSS Grid and Flexbox</h3>
      <p>Use the latest CSS layout features without introducing accessibility mistakes.</p>
    </div>

    <div class="lesson">
      <h3>Lesson 6:<br> Images and the alt attribute</h3>
      <p>Always include the alt attribute, but it's ok to leave it blank sometimes.</p>
    </div>

    <div class="lesson">
      <h3>Lesson 7:<br> :focus { outline: none; }</h3>
      <p>Why every site needs focus styles.</p>
    </div>

    <div class="lesson">
      <h3>Lesson 8:<br> Keyboard Support with JavaScript</h3>
      <p>Making sites a joy to use without a mouse.</p>
    </div>

    <div class="lesson">
      <h3>Lesson 9:<br> Hiding Things</h3>
      <p>How to hide things for everybody.</p>
    </div>

    <div class="lesson">
      <h3>Lesson 10:<br> ARIA Attributes</h3>
      <p>Commonly used ARIA attributes and examples of the right way to use them.</p>
    </div>
  </div>


  <div class="section l-contain--center l-contain--small">
    <h2>About the Author</h2>
    <p>Hi, I'm Ben. I'm a self-taught web developer based in Greenville, South Carolina and work as a front end developer for <a href="https://mediacurrent.com">Mediacurrent</a>. After learning web development online and a few years working at an agency, I stumbled upon the importance of accessibility for the web, but struggled to find easy to understand resources for getting started. I was inspired to write this course to give others a simple, practical introduction to web accessibility principles.</p>
  </div>


  <div class="section l-contain--center l-contain--small">
    <div class="hero-form">
      <h2>Ready to start?</h2>
      <div id="mc_embed_signup">
        <form action="https://benjamingrobertson.us15.list-manage.com/subscribe/post?u=aafc0f8e65dbc564446043b15&amp;id=baaa94d97b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div class="name-fields">
            <div class="mc-field-group">
              <label for="mce-FNAME">First Name </label>
              <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
            </div>
            <div class="mc-field-group">
              <label for="mce-LNAME">Last Name </label>
              <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
            </div>
          </div>
          <div class="mc-field-group">
            <label for="mce-EMAIL">Email Address </label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_aafc0f8e65dbc564446043b15_baaa94d97b" tabindex="-1" value=""></div>
          <div class="clear">
            <input type="submit" value="Start the free course" name="subscribe" id="mc-embedded-subscribe" class="button" ga-on="click" ga-event-category="Accessibility Mistakes Course" ga-event-action="Subscribe" ga-event-label="Course Page"></div>
          </form>
        </div>
      </div>
    </div>