<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    <main class="layout-container" aria-label="Content">
        <div class="home">
            <h1 class="home__title">
                <span>benjamin</span><br />
                <span>robertson</span>
            </h1>

            <p class="home__caption">
                a friendly web developer
            </p>

          <nav>
            <ul class="home__nav">
                <!-- <li class="menu-item">
                    <a href="/work">Work</a>
                </li> -->
                <li class="menu-item">
                    <a href="/about">About</a>
                </li>
                <li class="menu-item">
                    <a href="/blog">Blog</a>
                </li>

            </ul>
          </nav>

        </div>

    </main>


  </body>

</html>
