<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    {% include head.html %}

    <body>
        <header class="home__header">
            <h1>Ben Robertson</h1>
            <p>
                Web developer.
            </p>
        </header>
        <main class="home">
            <section class="grid-item about">
                <header class="section-header">
                    <h2>About Me</h2>
                    <hr>
                </header>
                <p>Hi, I’m Ben, a friendly web developer for Up&amp;Up in Greenville, SC. In my free time I enjoy biking, hiking, gardening, exploring Greenville, learning new things, and hanging out at our awesome public library.</p>

                <p>I create fun, innovative, accessible, and fast websites. This includes award-winning front-end development as well as building out custom Drupal and Wordpress backends with an eye towards usability.
                </p>
                <a href="/about">read more about me</a>
            </section>
            <section class="grid-item micro-blog">
                <header class="section-header">
                    <h2>Updates</h2>
                    <hr>
                </header>
                {% assign updates = site.updates | reverse %}
                {% for update in updates limit: 5 %}
                        <article class="snippet">
                            {{update.content}}
                            <date> - {{ update.date | date: "%b %-d, %Y" }}</date>
                        </article>
                {% endfor %}
            </section>
            <section class="grid-item blog">
                <header class="section-header">
                    <h2>Blog</h2>
                    <hr>
                </header>
                {% for post in site.posts limit: 5 %}
                    <article class="home__article">
                        <header>
                            <h3>{{ post.title | escape }}</h3>
                            <date> - {{ post.date | date: "%b %-d, %Y" }}</date>
                        </header>
                        <p>{{post.snippet}}</p>
                        <a href="{{ post.url | relative_url }}">Read More</a>
                    </article>
                {% endfor %}
        </section>
            <section class="grid-item work">
                <header class="section-header">
                    <h2>Work</h2>
                    <hr>
                </header>
                {% assign work = site.work | reverse %}
                {% for work in work limit: 5 %}
                    <article>
                        <h3>{{ work.title | escape }}</h3>
                        <!-- <p>{{post.short-description}}</p> -->
                        <a href="{{ work.url | relative_url }}">Read More</a>
                    </article>
                {% endfor %}
            </section>
        </main>
    </body>

</html>
