---
layout: default
comments: true
---
<div class="l-contain--center l-contain">
    <article class="post h-entry l-contain--small" itemscope itemtype="http://schema.org/BlogPosting">

      <header class="post-header">
        <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
      </header>

      <div class="post-content e-content" itemprop="articleBody">
          <p class="post-meta">
              <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
              {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
              • <a href="{{page.link}}" class="u-url">Permalink</a>
          </p>
        {{ content }}
        {% if page.canonical %}
        <p class="post-canonical">The post <b>{{ page.title | escape }}</b> originally appeared on
            <a class="post-canonical__url" href="{{ page.canonical }}">
                {{ page.canonical | replace:'https:',' ' | replace:'http:',' ' | replace:'/',' ' | truncatewords: 1, '' }}
            </a>.
        </p>
        <br>
        {% endif %}

        <br>
        <p><em>Have any comments or questions about this post? Send them to me via email <a href="mailto:hi@benrobertson.io">hi@benrobertson.io</a> or on Twitter <a href="https://twitter.com/Banquos_Ghost">@banquos_ghost</a>.</em></p>
      </div>

      {% webmentions %}

    </article>
</div>

{% comment %}
{% if page.categories contains "accessibility" %}
    {% include signup-awd.html
        listId="5f1a877f43"
        calloutColor="red"
        title="Learn to develop accessible web sites and applications."
        content="Sign up to hear when the book launches."
        submit="Subscribe"
    %}
{% else %}
    {% include
        signup.html
        listId="6e6d0bd232"
        title="Learn something from this post?"
        content="I'd love your email address so I can send you more posts like this whenever they're published."
        submit="Subscribe"
        %}
{% endif %}
{% endcomment %}

{% include
    signup.html
    listId="baaa94d97b"
    title="Free Email Course: <br>Common Accessibility Mistakes and How to Fix Them"
    content="A month long course to help you simplify web accessibility."
    submit="Sign me up!"
    %}
