---
layout: default
---

<div class="l-contain--small l-contain--center">
    <h1 class="page-heading">Updates</h1>
    {{ content }}
    <hr>

    {% assign sorted = site.updates|reverse %}
    {% for update in sorted %}
    <article class="update">
        {{ update.content }}
        <div class="update-meta">
            <date>{{ update.date | date: "%b %-d, %Y" }}</date> |
            <a href="{{ update.url }}" class="u-url">permalink</a>
        </di>
    </article>
    <hr>
    {% endfor %}
</div>
